/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    text-align: center;
}

#nota {
    background-color: #f8f8f8; /* Cor de fundo */
    padding: 10px;
}

#informacao {
    padding: 20px;
}

h1 {
    color: #000; /* Cor do título */
}

.paragrafo {
    margin: 10px 0;
}

#formulario {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.rotulo-label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    #formulario {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem; /* Ajustar tamanho do texto */
    }
}
